html {
    height: 100%;
}
body {
    background-color: #2e2e2e;
    font-family: 'Ubuntu Mono', monospace;
    
    opacity:0;
    transition: opacity 0.75s ease-in;
    -webkit-transition: opacity 0.75s ease-in;
    -moz-transition: opacity 0.75s ease-in;
    -ms-transition: opacity 0.75s ease-in;
    -o-transition: opacity 0.75s ease-in;
}

#myCanvas {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
}

p {
    color: white;
}

.top-content h1, p {
    color: darkgray;
}

.top-content {
}


#madeBy, #disclaimer {
    font-size: 12px;
}

#disclaimer {
    width: 300px;
    margin: auto;
}

a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}


a:hover {
    text-decoration: none;
    color: lightcoral;
}

.data-structure-image {
    width: 100%;
    height: 100%;
}

.content-links {
    border-radius: 2.5px;
    width: 36px;
    height: 36px;
    padding: 2px;

    background: #fff;
    border: 1px solid #666;
    color: #666;
    text-align: center;
}


/* middle part of the page*/

@media screen and (min-width: 0px) and (max-width: 400px) {
  #desc-button { display: inline-block; }  /* show it on small screens */
}

@media screen and (min-width: 401px) and (max-width: 1024px) {
  #desc-button { display: none; }   /* hide it elsewhere */
}

.btn {
    border-radius: 30px;
}

#languages-label, #data-structures-label, #algorithms-label{
    color: white;
    font-size: 16px;
}

#sorting-label, #searching-label{
    color: white;
    opacity: 0.75;
}

.selection-content {
    padding-top: 40px;
}


.languages, .data-structures, .algorithms, .content-wrapper,
#linkedlist-variations, #stack-queue-variations {
    padding-top: 20px;
}

.data-structures, .algorithms {
    padding-bottom: 30px;
}

.content-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

pre {
    background-color: rgb(34,34,27);
    border-color: #2e2e2e;
    border-radius: 15px;
    white-space: nowrap;
}


#code-desc {
    color: white;
    opacity: 0.85;
    margin-left: -10px;
}

table {    
    border-collapse:separate;
    border:solid white 1px;
    border-radius:6px;
    -moz-border-radius:6px;
    margin-bottom: 20px;
}

td, th {
    padding: 5px;
    border-left: dotted white 1px;
    border-top:dotted white 1px;
}

th {
    border-top: none;
}

td:first-child, th:first-child {
     border-left: none;
}


.hl-details {
    color: lightcoral;
    font-weight: bold;
}

.quick-facts {
    padding-top: 20px;
}
#quick-facts-desc {
    color: lightcyan;
    opacity: 0.5;
}

ul>li {
    text-align: left;
}

/*nav bar customization*/
.nav-pills {
    display: inline-block;
    text-align: center;

}
.nav-pills>li {
    margin-top: 10px;
    display: inline-block;
    float: none;
}

/*.nav li a > span { display:block; }*/

.nav-pills>li>a>span {
    display: inline-block;
}

.nav-pills>li.active>a {
    transition: border-radius 0.3s ease-in-out;
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out;
}

.nav-pills>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;

    border-spacing: inherit;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    border-radius: 20px;
    
    transition: color 0.3s ease-in-out;
    transition: background-color 0.3s linear;
    transition: border-radius 0.3s ease-in-out;


}

.nav-pills>li>a:hover{
    transition: background-color 0.3s ease-in-out;
    background-color: rgba(255,255,255,0.25);
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {

    color:dimgray;
    background-color: white;
    transition: border-radius 0.3s ease-in-out;

}
